# Análisis de los datos desanidados segun albúm

In [11]:
import pandas as pd
from IPython.display import display

# Cargamos los datos del csv desanidado a albumes
df = pd.read_csv('DB/dataset_albumes.csv')
# Imprimimos los primeros registros para una primera referencia
print(df.head())

            artist_id   artist_name  artist_popularity  \
0  06HL4z0CvFAxyc27GX  Taylor Swift                120
1  06HL4z0CvFAxyc27GX  Taylor Swift                120
2  06HL4z0CvFAxyc27GX  Taylor Swift                120
3  06HL4z0CvFAxyc27GX  Taylor Swift                120
4  06HL4z0CvFAxyc27GX  Taylor Swift                120

                 album_id                        album_name  \
0  1o59UpKw81iHR0HPiSkJR0  1989 (Taylor's Version) [Deluxe]
1  64LU4c1nfjz1t4VnGhagcg           1989 (Taylor's Version)
2  5AEDGbliTTfjOB8TSm1sxt      Speak Now (Taylor's Version)
3  1fnJ7k0bllNfL1kVdNVW1A  Midnights (The Til Dawn Edition)
4  3lS1y25WAhcqJDATJK70Mq           Midnights (3am Edition)

  album_release_date album_total_tracks  \
0         2023-10-27                 22
1         2023-10-26                 21
2         2023-07-07                 22
3         2027-05-26                 24
4         2022-10-22                 20

                                              tracks
0  [{'disc_number': 1, 'duration_ms': 212600, 'ex...
1  [{'disc_number': 1, 'duration_ms': 212600, 'ex...
2  [{'disc_number': 1, 'duration_ms': 231706, 'ex...
3  [{'disc_number': 1, 'duration_ms': 202395, 'ex...
4  [{'disc_number': 1, 'duration_ms': 202395, 'ex...

In [9]:
# Información general del DataFrame
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   artist_id           27 non-null     object
 1   artist_name         27 non-null     object
 2   artist_popularity   27 non-null     int64
 3   album_id            27 non-null     object
 4   album_name          25 non-null     object
 5   album_release_date  27 non-null     object
 6   album_total_tracks  27 non-null     object
 7   tracks              27 non-null     object
dtypes: int64(1), object(7)
memory usage: 1.8+ KB
None

In [11]:
# Imprimimos tipos de datos de cada atributo
print(df.dtypes)

artist_id             object
artist_name           object
artist_popularity      int64
album_id              object
album_name            object
album_release_date    object
album_total_tracks    object
tracks                object
dtype: object

In [3]:
#Verificamos datos nulos de cada atributo
print(df.isnull().sum())

artist_id             0
artist_name           0
artist_popularity     0
album_id              0
album_name            2
album_release_date    0
album_total_tracks    0
tracks                0
dtype: int64

In [12]:
# Filtrar las filas con valores nulos en la columna 'album_name'
filas_nulas = df[df['album_name'].isnull()]

# Imprimir las filas con valores nulos en 'album_name'
print("Filas con 'album_name' nulo:")
print(filas_nulas)

# Crear un nuevo DataFrame con las filas nulas
df_filas_nulas = pd.DataFrame(filas_nulas)

# Mostrar el nuevo DataFrame con las filas nulas
print("\nNuevo DataFrame con Filas Nulas:")
# Asignar un nombre al índice
df_filas_nulas.index.name = 'Index'
display(df_filas_nulas[['artist_id','artist_name','album_id', 'album_name']].reset_index())

Filas con 'album_name' nulo:
             artist_id   artist_name  artist_popularity  \
16  06HL4z0CvFAxyc27GX  Taylor Swift                120
20  06HL4z0CvFAxyc27GX  Taylor Swift                120

                  album_id album_name album_release_date album_total_tracks  \
16  1MPAXuTVL2Ej5x0JHiSPq8        NaN         2017-11-09                 46
20  6fyR4wBPwLHKcRtxgd4sGh        NaN         2010-10-25                 16

                                               tracks
16  [{'disc_number': 1, 'duration_ms': 329160, 'ex...
20  [{'disc_number': 1, 'duration_ms': 336826, 'ex...

Nuevo DataFrame con Filas Nulas:

   Index           artist_id   artist_name                album_id album_name
0     16  06HL4z0CvFAxyc27GX  Taylor Swift  1MPAXuTVL2Ej5x0JHiSPq8        NaN
1     20  06HL4z0CvFAxyc27GX  Taylor Swift  6fyR4wBPwLHKcRtxgd4sGh        NaN

> Encontramos 02 valores nulos en el campo album name

In [17]:
duplicados = df[df.duplicated(subset='album_id', keep=False)]

# Imprime las filas duplicadas y su posición según el campo ID
for indice, fila in duplicados.iterrows():
    filas_duplicadas = df[df['album_id'] == fila['album_id']]
    
    print(f"Fila duplicada en posición {indice}:")
    print(fila)
    
    print(f"\nFilas duplicadas:")
    display(filas_duplicadas)
    print("\n" + "="*50 + "\n")

Fila duplicada en posición 13:
artist_id                                                    06HL4z0CvFAxyc27GX
artist_name                                                        Taylor Swift
artist_popularity                                                           120
album_id                                                 1NAmidJlEaVgA3MpcPFYGq
album_name                                                                Lover
album_release_date                                                   2019-08-23
album_total_tracks                                                           18
tracks                        [{'disc_number': 1, 'duration_ms': 170640, 'ex...
album_total_tracks_numeric                                                 18.0
Name: 13, dtype: object

Filas duplicadas:

,artist_id,artist_name,artist_popularity,album_id,album_name,album_release_date,album_total_tracks,tracks,album_total_tracks_numeric
13,06HL4z0CvFAxyc27GX,Taylor Swift,120,1NAmidJlEaVgA3MpcPFYGq,Lover,2019-08-23,18,"[{'disc_number': 1, 'duration_ms': 170640, 'ex...",18.0
14,06HL4z0CvFAxyc27GX,Taylor Swift,120,1NAmidJlEaVgA3MpcPFYGq,Lover,2019-08-23,18,"[{'disc_number': 1, 'duration_ms': 170640, 'ex...",18.0

==================================================

Fila duplicada en posición 14:
artist_id                                                    06HL4z0CvFAxyc27GX
artist_name                                                        Taylor Swift
artist_popularity                                                           120
album_id                                                 1NAmidJlEaVgA3MpcPFYGq
album_name                                                                Lover
album_release_date                                                   2019-08-23
album_total_tracks                                                           18
tracks                        [{'disc_number': 1, 'duration_ms': 170640, 'ex...
album_total_tracks_numeric                                                 18.0
Name: 14, dtype: object

Filas duplicadas:

,artist_id,artist_name,artist_popularity,album_id,album_name,album_release_date,album_total_tracks,tracks,album_total_tracks_numeric
13,06HL4z0CvFAxyc27GX,Taylor Swift,120,1NAmidJlEaVgA3MpcPFYGq,Lover,2019-08-23,18,"[{'disc_number': 1, 'duration_ms': 170640, 'ex...",18.0
14,06HL4z0CvFAxyc27GX,Taylor Swift,120,1NAmidJlEaVgA3MpcPFYGq,Lover,2019-08-23,18,"[{'disc_number': 1, 'duration_ms': 170640, 'ex...",18.0

==================================================

> Encontramos un album_id repetido dos veces

In [3]:
#Verificamos que el campo album_realease_date tenga formato de fecha
df['album_release_date'] = pd.to_datetime(df['album_release_date'], errors='coerce')

In [16]:
#Identificamos campos que no son el tipo de dato respectivo

df['album_total_tracks_numeric'] = pd.to_numeric(df['album_total_tracks'], errors='coerce')

# Filtra los registros que no pudieron ser convertidos a números
registros_no_numericos = df[df['album_total_tracks_numeric'].isna()]

# Muestra los registros no numéricos
display(registros_no_numericos)

,artist_id,artist_name,artist_popularity,album_id,album_name,album_release_date,album_total_tracks,tracks,album_total_tracks_numeric
26,06HL4z0CvFAxyc27GX,Taylor Swift,120,5eyZZoQEFQWRHkV2xgAeBw,Taylor Swift,1989-10-24,Thirteen,"[{'disc_number': 1, 'duration_ms': 210251, 'ex...",NaN

# Análisis de los datos según tracks desanidados

> **Haremos el mismo proceso pero con los datos del campo tracks desanidado**

In [10]:
import pandas as pd

# Cargar el CSV en un DataFrame
df = pd.read_csv('DB/dataset.csv')
print(df.head())

            artist_id   artist_name  artist_popularity  \
0  06HL4z0CvFAxyc27GX  Taylor Swift                120
1  06HL4z0CvFAxyc27GX  Taylor Swift                120
2  06HL4z0CvFAxyc27GX  Taylor Swift                120
3  06HL4z0CvFAxyc27GX  Taylor Swift                120
4  06HL4z0CvFAxyc27GX  Taylor Swift                120

                 album_id                        album_name  \
0  1o59UpKw81iHR0HPiSkJR0  1989 (Taylor's Version) [Deluxe]
1  1o59UpKw81iHR0HPiSkJR0  1989 (Taylor's Version) [Deluxe]
2  1o59UpKw81iHR0HPiSkJR0  1989 (Taylor's Version) [Deluxe]
3  1o59UpKw81iHR0HPiSkJR0  1989 (Taylor's Version) [Deluxe]
4  1o59UpKw81iHR0HPiSkJR0  1989 (Taylor's Version) [Deluxe]

  album_release_date album_total_tracks  disc_number  duration_ms explicit  \
0         2023-10-27                 22            1       212600    False
1         2023-10-27                 22            1       231833    False
2         2023-10-27                 22            1       231000    False
3         2023-10-27                 22            1       235800    False
4         2023-10-27                 22            1       193289    False

   ...  audio_features_loudness  audio_features_mode  \
0  ...                   -4.840                    1
1  ...                   -5.376                    1
2  ...                   -4.785                    0
3  ...                   -5.968                    1
4  ...                   -5.579                    1

  audio_features_speechiness audio_features_acousticness  \
0                     0.0327                    0.009420
1                     0.0670                    5.000000
2                     0.0397                    0.000421
3                     0.0447                   -0.000537
4                     0.0317                    0.000656

   audio_features_instrumentalness  audio_features_liveness  \
0                         3.66e-05                   0.3670
1                                0                   0.1680
2             0.019700000000000002                   0.0899
3           5.5900000000000004e-05                   0.3850
4                                0                   0.1310

   audio_features_valence  audio_features_tempo       audio_features_id  \
0                   0.685               116.998  4WUepByoeqcedHoYhSNHRt
1                   0.701                96.057  0108kcWLnn2HlH2kedi1gn
2                   0.305                94.868  3Vpk1hfMAQme8VJ0SNRSkd
3                   0.206                92.021  1OcSfkeCg9hRC2sFKB4IMJ
4                   0.520                96.997  2k0ZEeAqzvYMcx9Qt5aClQ

   audio_features_time_signature
0                            4.0
1                            4.0
2                            4.0
3                            4.0
4                            4.0

[5 rows x 27 columns]

In [17]:
print(df.dtypes)

artist_id                           object
artist_name                         object
artist_popularity                    int64
album_id                            object
album_name                          object
album_release_date                  object
album_total_tracks                  object
disc_number                          int64
duration_ms                          int64
explicit                            object
track_number                         int64
track_popularity                     int64
track_id                            object
track_name                          object
audio_features_danceability        float64
audio_features_energy              float64
audio_features_key                 float64
audio_features_loudness            float64
audio_features_mode                  int64
audio_features_speechiness         float64
audio_features_acousticness        float64
audio_features_instrumentalness     object
audio_features_liveness            float64
audio_features_valence             float64
audio_features_tempo               float64
audio_features_id                   object
audio_features_time_signature      float64
dtype: object

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 539 entries, 0 to 538
Data columns (total 27 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   artist_id                        539 non-null    object
 1   artist_name                      539 non-null    object
 2   artist_popularity                539 non-null    int64
 3   album_id                         539 non-null    object
 4   album_name                       477 non-null    object
 5   album_release_date               539 non-null    object
 6   album_total_tracks               539 non-null    object
 7   disc_number                      539 non-null    int64
 8   duration_ms                      539 non-null    int64
 9   explicit                         539 non-null    object
 10  track_number                     539 non-null    int64
 11  track_popularity                 539 non-null    int64
 12  track_id                         531 non-null    object
 13  track_name                       532 non-null    object
 14  audio_features_danceability      537 non-null    float64
 15  audio_features_energy            537 non-null    float64
 16  audio_features_key               538 non-null    float64
 17  audio_features_loudness          537 non-null    float64
 18  audio_features_mode              539 non-null    int64
 19  audio_features_speechiness       538 non-null    float64
 20  audio_features_acousticness      538 non-null    float64
 21  audio_features_instrumentalness  539 non-null    object
 22  audio_features_liveness          538 non-null    float64
 23  audio_features_valence           539 non-null    float64
 24  audio_features_tempo             538 non-null    float64
 25  audio_features_id                539 non-null    object
 26  audio_features_time_signature    538 non-null    float64
dtypes: float64(10), int64(6), object(11)
memory usage: 113.8+ KB

In [19]:
columnas_a_mostrar = df.drop('album_name', axis=1)
print(columnas_a_mostrar.isnull().sum())

artist_id                          0
artist_name                        0
artist_popularity                  0
album_id                           0
album_release_date                 0
album_total_tracks                 0
disc_number                        0
duration_ms                        0
explicit                           0
track_number                       0
track_popularity                   0
track_id                           8
track_name                         7
audio_features_danceability        2
audio_features_energy              2
audio_features_key                 1
audio_features_loudness            2
audio_features_mode                0
audio_features_speechiness         1
audio_features_acousticness        1
audio_features_instrumentalness    0
audio_features_liveness            1
audio_features_valence             0
audio_features_tempo               1
audio_features_id                  0
audio_features_time_signature      1
dtype: int64

In [2]:
#Imprimimos filas nulas
#track_id, track_name, audio_features_danceability, audio_features_energy, audio_features_key, audio_features_loudness, audio_features_speechiness, audio_features_acousticness, audio_features_liveness, audio_features_tempo, audio_features_time_signature  


columnas_especificas = ['track_id', 'track_name', 'audio_features_danceability', 'audio_features_energy', 'audio_features_key', 'audio_features_loudness', 'audio_features_speechiness', 'audio_features_acousticness', 'audio_features_liveness', 'audio_features_tempo', 'audio_features_time_signature']
filas_nulas = df[df[columnas_especificas].isnull().any(axis=1)]
df_filas_nulas = filas_nulas[columnas_especificas]
df_filas_nulas.index.name = 'Index'
display(df_filas_nulas.reset_index())

,Index,track_id,track_name,audio_features_danceability,audio_features_energy,audio_features_key,audio_features_loudness,audio_features_speechiness,audio_features_acousticness,audio_features_liveness,audio_features_tempo,audio_features_time_signature
0,77,1QQii3pa5m8MEda0nbkjfw,NaN,0.661,0.345,4.0,-14.037,0.1440,0.54500,0.0871,125.977,4.0
1,91,02Zkkf2zMkwRGQjZ7T4p8f,NaN,0.638,0.634,4.0,-6.582,0.0457,0.13300,0.1520,96.953,4.0
2,104,7712gjoih4QoDbXpljEk21,NaN,0.700,0.509,7.0,-10.547,0.0789,0.11200,0.1370,110.947,4.0
3,321,NaN,Gorgeous,0.800,0.535,7.0,-6.684,0.1350,0.07130,0.2130,92.027,4.0
4,330,22C0JIVhFaczZ4t9heqREN,Wildest Dreams,NaN,NaN,8.0,NaN,NaN,0.06920,0.1060,139.997,4.0
5,334,7eGeUVeCEvEQrivmjl9Qn3,Teardrops On My Guitar - Radio Single Remix,0.626,0.427,NaN,NaN,0.0234,0.31300,0.1380,99.959,4.0
6,341,41T04yafZVrjNq2FqvLtId,So It Goes...,0.574,0.610,2.0,-7.283,0.0732,0.12200,NaN,74.957,4.0
7,363,NaN,Jump Then Fall,0.617,NaN,2.0,-5.712,0.0274,0.11300,0.0740,80.007,NaN
8,375,NaN,Welcome To New York,0.789,0.634,7.0,-4.762,0.0323,0.03480,0.3020,116.992,4.0
9,379,NaN,All You Had To Do Was Stay,0.605,0.725,5.0,-5.729,0.0323,0.00201,0.1010,96.970,4.0
10,382,NaN,Bad Blood,0.646,0.794,7.0,-6.104,0.1900,0.08850,0.2010,170.216,4.0
11,391,4FoV729rw7IhoKlMZW5K5V,NaN,0.592,0.128,9.0,-17.932,0.5890,0.82900,0.5270,78.828,4.0
12,396,71PmZqBXH0RUETqxpwlV0w,NaN,0.598,0.786,2.0,-5.572,0.0382,0.00256,0.1170,95.021,4.0
13,401,0TvQLMecTE8utzoNmvXRbK,NaN,0.652,0.802,7.0,-6.114,0.1810,0.08710,0.1480,170.157,4.0
14,408,7gJtmLyPTwKzhGzMBXtuXH,NaN,0.602,0.896,1.0,-4.267,0.0437,0.07730,0.0911,124.978,4.0
15,431,72GIZuUXo14oyrS0si3Rgc,The Story Of Us - Live,NaN,0.908,9.0,-5.156,0.0651,NaN,0.8150,139.813,4.0
16,432,7mFiEij8AXPUZB7aKLbUlQ,Mean - Live/2011,0.429,0.915,4.0,-4.373,0.0690,0.15400,0.6930,NaN,4.0
17,434,NaN,Back To December/Apologize/You're Not Sorry - ...,0.374,0.516,2.0,-8.745,0.0294,0.15500,0.7950,142.057,4.0
18,442,NaN,Enchanted - Live/2011,0.340,0.663,8.0,-5.597,0.0331,0.07470,0.5630,163.678,4.0
19,445,NaN,Mine - POP Mix,0.696,0.768,7.0,-3.863,0.0308,0.00461,0.1010,121.050,4.0

In [9]:
#Calculamos la integridad por columna
total_filas = len(df)
proporciones_completas_porcentaje = ((total_filas - df.isnull().sum()) / total_filas) * 100
proporciones_completas_porcentaje = proporciones_completas_porcentaje.round(2)
proporciones_completas_porcentaje.at['album_name'] = 92.59

print(proporciones_completas_porcentaje)

artist_id                          100.00
artist_name                        100.00
artist_popularity                  100.00
album_id                           100.00
album_name                          92.59
album_release_date                 100.00
album_total_tracks                 100.00
disc_number                        100.00
duration_ms                        100.00
explicit                           100.00
track_number                       100.00
track_popularity                   100.00
track_id                            98.52
track_name                          98.70
audio_features_danceability         99.63
audio_features_energy               99.63
audio_features_key                  99.81
audio_features_loudness             99.63
audio_features_mode                100.00
audio_features_speechiness          99.81
audio_features_acousticness         99.81
audio_features_instrumentalness    100.00
audio_features_liveness             99.81
audio_features_valence             100.00
audio_features_tempo                99.81
audio_features_id                  100.00
audio_features_time_signature       99.81
dtype: float64

In [21]:
# Verifica que los tipos de datos en cada fila coincidan con dtypes para columnas int64 o float64
for indice, fila in df.iterrows():
    for columna, tipo_esperado in df.dtypes.items():
        if tipo_esperado in [int, float]:  # Solo verifica las columnas con tipos int64 o float64
            tipo_real = type(fila[columna])
            if tipo_real != tipo_esperado:
                print(f"Tipo de dato incorrecto en fila {indice}, columna {columna}. Esperado: {tipo_esperado}, Real: {tipo_real}")